/* question.component.scss */
/* Quesiton */
.imageTitle {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

@media (max-width: 1150px){
    .imageTitle {
        margin-top: 1.0em;
        margin-bottom: 1.0em;
    }
}